.jl-button {
    border: none;
    outline: 0;
    padding: 10px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    background-color: var(--LightGrayishCyanBG);
    color: var(--DesaturatedDarkCyan);
    font-weight: var(--font-weight-bold);
    border-radius: 5px;
    column-gap: 8px;
    text-transform: capitalize;
}

.jl-button:hover {
    background-color: var(--DesaturatedDarkCyan);
    color: #fff;
}
